/* Global Styles */
body {
    background-color: #FFF96C;
    color: #000;
    font-family: 'DINdong-1.000', monospace;
    font-size: 16px;
}

/* Main Container */
.main-container, .portfolio-container, .writing-container, radio-container {
    text-align: center;
    padding-top: 50px;
}

/* Splash Button */
.splash-button {
    display: inline-block;
    padding: 2px;
    text-transform: uppercase;
    background-color: #3CB310;
    color: #000000;
    border: 3px solid;
    border-radius: 40px;
    width: 135px;
    height: 27px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}

.splash-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .splash-button {
    padding: 0.25em 0.75em;
  }
}

.splash-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, #00ff00, transparent);
    opacity: 0;
    transition: opacity 0.3s;
}

.splash-button:hover::before {
    opacity: 0.5;
}

/* Gallery */
.gallery img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

/* Social Links */
.social-links a {
    color: #000000;
    margin: 16px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

/* Writing Content */
.writing-content {
    margin-top: 20px;
    font-size: 14px;
}

/* Custom Cursor Styles */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ff00;
    pointer-events: none;
    mix-blend-mode: difference; /* Makes the cursor visible on all backgrounds */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    transition: transform 0.1s ease;
}

